<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customer Segmentation</title>
    <link rel="stylesheet" href="/Static/style.css" />
  </head>
  <body class="body">
    <header class="header">
      <a href="home.html" class="logo">SegmenTech</a>
      <nav class="navbar">
        <a href="home.html">Home</a>
        <a href="about.html">About</a>
        <a href="#">Team</a>
      </nav>
    </header>

    <script src="/Static/JS/fileUpload.js"></script>
  </body>
</html>
